@import 'tailwindcss';
@import '@nuxt/ui';

body {
  background-color: var(--ui-bg);
}

@theme {
  --ui-primary: var(--color-sky-950);
}

.dark {
  --ui-primary: var(--color-sky-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-32;
}

h1 {
  @apply font-bold text-4xl mb-8;
}
h2 {
  @apply font-semibold text-3xl mb-4;
}
h3 {
  @apply font-semibold text-2xl mb-2;
}
h4 {
  @apply font-semibold text-xl mt-8 mb-2 opacity-90 dark:opacity-70;
}

p {
  @apply leading-7;
}

.highlighted-word {
  @apply bg-amber-300/10! rounded hover:bg-amber-300/30! transition-all;
  @apply inline-block;
}

.highlighted {
  @apply bg-amber-200/10!;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
}

.animate {
  @apply bg-amber-300/20;
  animation: 0.3s ease-in-out shake;
}

code .highlighted {
  @apply -mx-6 px-6;
}

.shiki {
  @apply px-6 py-4 rounded-2xl;
}

html.dark .shiki {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
