@import 'tailwindcss';
@import '@nuxt/ui';

body {
  background-color: var(--ui-bg);
}

@theme {
  --ui-primary: var(--color-sky-950);
  --ui-text: var(--ui-color-neutral-800);
}
.dark {
  --ui-primary: var(--color-sky-200);
  --ui-text: var(--ui-color-neutral-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-32;
}

h1 {
  @apply font-bold text-4xl my-8;
}
h2 {
  @apply font-semibold text-3xl my-6;
}
h3 {
  @apply font-semibold text-2xl my-2;
}
h4 {
  @apply font-semibold text-xl mt-8 mb-2 opacity-90 dark:opacity-70;
}

p {
  @apply leading-7 mb-6 max-w-5xl;

  strong {
    @apply font-bold text-black dark:text-white;
  }
}

/* SHIKI CODE HIGHLIGHTING */

.shiki {
  @apply px-6 py-4 rounded-2xl;
}
html.dark .shiki {
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark .shiki span {
  color: var(--shiki-dark) !important;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
}
.animate {
  @apply bg-amber-300/50! dark:bg-amber-700/50!;
  animation: 0.3s ease-in-out shake;
}

.comparing p {
  @apply px-6 max-w-xl;
}

p a {
  @apply bg-accented/20 hover:bg-accented/80 px-0.5 py-1 border-b border-dashed border-b-inverted/40 hover:border-b-inverted/80 transition-all;
}

code {
  @apply bg-elevated p-1 rounded;
}

pre {
  @apply my-4;

  code {
    @apply p-0;

    .highlighted {
      @apply bg-gradient-to-r from-amber-300/10 to-amber-300/5;
    }

    .highlighted-word {
      @apply bg-amber-300/10 rounded hover:bg-amber-300/30 transition-all;
      @apply inline-block;
    }

    .line {
      @apply block min-h-4 hover:bg-amber-500/10 -mx-6 px-6;
    }
  }
}

.numbered-lines {
  pre code {
    counter-reset: count 0;

    .line {
      counter-increment: count 1;
    }

    .line::before {
      @apply inline-block w-6 text-right -ml-2 mr-4 text-primary/30 text-sm;
      content: counter(count, decimal);
    }
  }
}
